################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyBank/bin/Debug
/MyBank/obj/Debug
